---
name: Bandit Scan

on:
    push:
    workflow_dispatch:

jobs:
    analyze:
        runs-on: ubuntu-latest
        permissions:
            # Required for all workflows
            security-events: write
        steps:
            - name: Perform Bandit Analysis
              uses: PyCQA/bandit-action@v1
